.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    margin-left: 150px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-left: 200px;
    top: 400px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    margin-left: 400px;
    top: 230px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    margin-left: 425px;
    top: 255px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-left: 700px;
    top: 350px;
  }